@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

* {
    font-family: 'Rubik Spray Paint', cursive;
    text-decoration: none;
    color: black;
}

li {
    float: left;
    background-color: orange;
    display: block;
    padding: 9px;
}


img{
    width:100px;
    float: left;
}


body{
    background-color: black;
}
#kereso{
float: right;

}

#2 {
    float: none;
    padding-top: 0%;
    }








